__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
*.log
.cache/
.tox/
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.hypothesis/
.vscode/
.idea/
.DS_Store
*.ipynb
*.pdf
*.docx
*.xlsx
*.csv
*.h5
*.pkl
*.joblib
*.tif
*.zip
data/
datasets/
ee_cache/
gee_data/
.git/
.gitignore
.env
.env.*
